/* globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Brand Colors */
  --dm-primary: #1d9e75;
  --dm-primary-dark: #0f6e56;
  --dm-primary-light: #eaf3de;
  --dm-primary-accent: #97c459;
  --dm-sidebar-bg: #085041;
  --dm-sidebar-text: #9fe1cb;
  --dm-sidebar-active: #1d9e75;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--dm-primary);
  --color-primary-dark: var(--dm-primary-dark);
  --color-primary-light: var(--dm-primary-light);
  --color-primary-accent: var(--dm-primary-accent);
  --color-sidebar: var(--dm-sidebar-bg);
  --color-sidebar-text: var(--dm-sidebar-text);
  --color-sidebar-active: var(--dm-sidebar-active);
}

/* Forces dark mode if a .dark class is on <html> or <body> */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --dm-sidebar-bg: #04342C;
  --dm-primary-light: #085041;
  --dm-sidebar-text: #5DCAA5;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
